#streamButton{
  height: 50px;
  width: 80px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
  background-color: mediumseagreen;
}

#streamButton.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
}

body{
    background-color:#444444;
    color: white;
    height: 175px;
    width: 300px;
    text-align: center;
}


